<div class="footer smoothHide">
    <div class="footer-option" ng-click="dataShare.action('future')"><img src="assets/footer-future.png" /></div>
    <div class="footer-option" ng-click="dataShare.action('settings')"><img src="assets/footer-settings.png" /></div>
    <div class="footer-option">
       <div ng-click="dataShare.action('main')"><img ng-show="!mainPage" src="assets/footer-home.png" /></div>
        <div ng-click="dataShare.action('')"><img ng-show="mainPage" src="assets/footer_logout.png" /></div>
    </div>
</div>