<div ng-cloak>
   <div class="report-date">{{dataShare.gTitle()}}</div>
   <div class="rating_stars">
      <span ng-click="id=1"><image ng-class="{'rating_star': (id<1), 'rating_star fill': (id>=1)}" src="assets/star.png" /></span>
      <span ng-click="id=2"><image ng-class="{'rating_star': (id<2), 'rating_star fill': (id>=2)}" src="assets/star.png" /></span>
      <span ng-click="id=3"><image ng-class="{'rating_star': (id<3), 'rating_star fill': (id>=3)}" src="assets/star.png" /></span>
      <span ng-click="id=4"><image ng-class="{'rating_star': (id<4), 'rating_star fill': (id>=4)}" src="assets/star.png" /></span>
      <span ng-click="id=5"><image ng-class="{'rating_star': (id<5), 'rating_star fill': (id>=5)}" src="assets/star.png" /></span>
   </div>
   <div><image width="200" src="assets/rating_legend.png"></image></div>
</div>