<div ng-cloak>
    <div class="pageMain" ng-show="settingsPage=='main'">
        <div class="settings-header">דיווחים והתראות</div><br />
        <div class="settings-switch" ng-click="changeSettings(0)"><label ng-class="{'switch1': true, 'on1': settingsData.get_changes}">&nbsp;</label></div><div class="settings-label">קבל התראה מיידית על שינוי דיווח</div><br />
        <div class="settings-switch" ng-click="changeSettings(1)"><label ng-class="{'switch1': true, 'on1': settingsData.get_report}">&nbsp;</label></div><div class="settings-label">קבל הודעה סיכומית יומית</div><br />
        <div class="settings-switch" ng-click="changeSettings(2)"><label ng-class="{'switch1': true, 'on1': settingsData.get_approval}">&nbsp;</label></div><div class="settings-label">"קבל אישור על "הדיווחים שלי</div><br />
        <div class="settings-next" ng-click="settingsPage='users'"><img width="25" src="assets/next.png" /></div><div class="settings-label2">הגדרת משתמשים למעקב דיווח</div><br /><br />
        <div class="settings-header">פרטים אישיים</div><br />
        <div class="settings-switch" ng-click="changeSettings(3)"><label ng-class="{'switch1': true, 'on1': settingsData.keep_info}">&nbsp;</label></div><div class="settings-label">אפשר לשמור פרטים על המכשיר</div><br />
    </div>
    <div class="pageSecondary" ng-show="settingsPage=='users'">
        <div class="settings-back" ng-click="settingsPage='main'">חזור <img width="15" src="assets/prev.png" /></div>
        <div class="settings-header">הגדרת משתמשים למעקב דיווח</div><br />
        <div class="settings-users" dir="rtl" ng-repeat="user in reportedUsers.reported"><div style="margin-left:10px;display: inline-block;" ng-click="removeUser(user)"><img width="30" src="assets/status_delete.png" /></div>{{ user }}</div>
        <div class="settings-users" dir="rtl" ng-repeat="user in reportedUsers.waiting"><div style="margin-left:10px;display: inline-block;" ng-click="removeUser(user)"><img width="30" src="assets/status_delete.png" /></div>{{ user }}<span style="margin-right:10px;font-size: 12px">ממתין לאישור...</span></div>
        <div class="settings-new">
            <div ng-class="{'settings-button':true, 'disabled':selectedUser==null}" ng-click="addUser(selectedUser)">הוסף</div>
            <angucomplete-alt dir="rtl"
                              id="settings-AddUser"
                              pause="100"
                              selected-object="selectedUser"
                              local-data="reportedUsers.users"
                              search-fields="name"
                              title-field="name"
                              minlength="1"
                              input-class="settings-add"
                              match-class="settings-highlight"
                              auto-match="true">
            </angucomplete-alt>
        </div>
    </div>
    <div ng-include="'pages/footer1.html'" />
</div>