<div ng-cloak>
    <div style="height: 125px;">
        <div class="top3-title" dir="rtl">הכנס מספר קבוצה:</div>
        <div class="top3-next" ng-click="next()"><image ng-src="assets/Next-icon{{image_state}}.png" /></div>
        <span class="top3-gNum">{{value}}</span>
        <div class="top3-delete" ng-click="press('d')"><image  src="assets/delete.png" /></div>
    </div>
    <div>
        <span class="top3-btn" ng-click="press(1)">1</span><span class="top3-btn" ng-click="press(2)">2</span><span class="top3-btn" ng-click="press(3)">3</span><span class="top3-btn" ng-click="press(4)">4</span><span class="top3-btn" ng-click="press(5)">5</span><br>
        <span class="top3-btn" ng-click="press(6)">6</span><span class="top3-btn" ng-click="press(7)">7</span><span class="top3-btn" ng-click="press(8)">8</span><span class="top3-btn" ng-click="press(9)">9</span><span class="top3-btn" ng-click="press(0)">0</span>
    </div>
    <div>
        <div class="top3_results" dir="rtl">תוצאות ביניים:</div>
        <div style="display: inline-block;"><div class="top3_1title">{{dataShare.results[0].title}}</div><div dir="rtl" class="top3_1score">{{dataShare.results[0].score}} נקודות</div></div>
        <image class="top3_crown" src="assets/crown.png" />
        <div style="margin: 5px;" />
        <div dir="rtl" class="top3_scores">מקום שני: <span/>{{dataShare.results[1].title}} - {{dataShare.results[1].score}} <span />נקודות</div>
        <div dir="rtl" class="top3_scores">מקום שלישי: <span/>{{dataShare.results[2].title}} - {{dataShare.results[2].score}} <span />נקודות</div>
        <md-button class="md-raised md-warn results" ng-click="results()">כל התוצאות</md-button>
    </div>
</div>